body {
      font-family: helvetica, sans-serif;
/*      width: 350px;*/
    }
    label {
      font-weight: bold;  
    }
    div {
      padding-bottom: 20px;
        font-weight: bold;
			text-align: center;
			background: rgba(0,0,0,0.5);
			color: #fff;
      padding: 10px;
			margin: 0 auto;
			width: 88%;
    }
    input[type="text"] {
      padding: 5px;
      width: 150px;
	
    }
		img{
/*		width: 120px;*/
        vertical-align: top;     
		width: 30%;
			border-radius: 10%;
			margin: 1%;
		}
    div .story {
			/*      visibility: hidden;*/
      
    }