body {
    margin-left: auto;
    margin-right: auto;
    font-family: helvetica, sans-serif;
/*    width: 350px;*/
	padding: 45px 25px;
    font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #1192d3;
    }
    label {
      font-weight: bold;  
    }
.randomize{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
div {
        text-align: center;
      padding-bottom: 20px;
    }
.js-geolocation{
/*	border*/
/*	color: black;*/
}
input[type="text"] {
      padding: 5px;
      width: 150px;
    }
p {
     background: -moz-radial-gradient(center, ellipse cover, rgba(145,255,255,1) 0%, rgba(240,235,235,0.25) 100%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(145,255,255,1)), color-stop(100%, rgba(240,235,235,0.25))); /* safari4+,chrome */
background:-webkit-radial-gradient(center, ellipse cover, rgba(145,255,255,1) 0%, rgba(240,235,235,0.25) 100%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, rgba(145,255,255,1) 0%, rgba(240,235,235,0.25) 100%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(145,255,255,1) 0%, rgba(240,235,235,0.25) 100%); /* ie10+ */
background:radial-gradient(ellipse at center, rgba(145,255,255,1) 0%, rgba(240,235,235,0.25) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91FFFF', endColorstr='#F0EBEB',GradientType=1 ); /* ie6-9 */
/*      color:darkred;*/
      font-family: s;
      font-weight: 600;
      padding: 50px;
      visibility: hidden;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    img{
      width:10%;
      border-radius:50%;
      margin:4%;
/*      float:right;*/
    }

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1{
/*  color: #fff;*/
  margin: 0 auto;
  width: 600px;
  padding-bottom: 3%;
  text-align: center;
  text-transform: uppercase;
}
#weather {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
/*  color: #fff;*/
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

button {
  display: block;
  margin: 15px auto;
  width: 140px;
  padding: 5px;
/*  background: transparent;*/
/*  color: #fff;*/
  border: 0;
  border-radius: 5px;
  border: 1px solid #fff;
}





@media(max-width:760px){
     img{
      width:20%;
      border-radius:50%;
      margin:4%;
      margin-left:4%;
      margin-right:4%;
    }
    p{
    text-align: center;
    padding: 25px 15px 35px 15px ;    
    }
}
@media(max-width:650px){
     img{
      width:30%;
      border-radius:50%;
      margin-left:4%;
      margin-right:4%;
/*      float:right;*/
    }
    p{
    text-align: center;
    padding: 25px 15px 35px 15px ;    
    }
}
    