body {
      font-family: helvetica, sans-serif;
      width: 350px;
    }
    label {
      font-weight: bold;  
    }
    div {
      padding-bottom: 20px;
    }
    input[type="text"] {
      padding: 5px;
      width: 150px;
    }
    p {
     background: -moz-radial-gradient(center, ellipse cover, rgba(145,255,255,1) 0%, rgba(240,235,235,0.25) 100%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(145,255,255,1)), color-stop(100%, rgba(240,235,235,0.25))); /* safari4+,chrome */
background:-webkit-radial-gradient(center, ellipse cover, rgba(145,255,255,1) 0%, rgba(240,235,235,0.25) 100%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, rgba(145,255,255,1) 0%, rgba(240,235,235,0.25) 100%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(145,255,255,1) 0%, rgba(240,235,235,0.25) 100%); /* ie10+ */
background:radial-gradient(ellipse at center, rgba(145,255,255,1) 0%, rgba(240,235,235,0.25) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91FFFF', endColorstr='#F0EBEB',GradientType=1 ); /* ie6-9 */
/*      color:darkred;*/
			font-family: s;
			font-weight: 500;
      padding: 50px;
      visibility: hidden;
      text-align: justify;
			margin-left: auto;
			margin-right: auto;
    }
    img{
      width:20%;
      border-radius:50%;
      margin:7%;
      float:right;
    }